span.spacer {
  flex: 1 1 auto;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
}

.slider-full {
  width: 40%;
}

.mat-icon-normal-size {
  transform: scale(1.5);
  color: white;
}

mat-toolbar {
  background-color: #060607;
}

.container {
  background-color: #060607;
  width: 100%;
}

.id-image {
  display: inline-block;
}

.title-author {
  display: inline-block;
}

.song-main-section {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  margin-left: 20px;
}
