<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid text-color">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Streaming service</a>
    </div>

    <form class="d-flex col-xll-6 col-xl-5 xol-m-4" role="search">
      <input class="form-control h-25" type="search" placeholder="Search..." aria-label="Search">
    </form>

    <div class="row">
      <ul class="nav navbar-right gap-2">
        <li><a class="link-light link-underline-opacity-0" href="#">Sign up</a></li>
        <li><a class="link-light link-underline-opacity-0" href="#">Log in</a></li>
      </ul>
    </div>
  </div>
</nav>
