<nav class="navbar navbar-dark bg-dark m-0">
  <div class="container-fluid text-color">
    <div class="navbar-header d-flex justify-content-center">
      <a *ngIf="authService.isAuthPage" class="navbar-brand" routerLink="">Steaming service</a>
    </div>

    <form class="d-flex col-xll-6 col-xl-5 xol-m-4" role="search">
      <input class="form-control h-25 bar-dark" type="search" placeholder="Search..." aria-label="Search">
    </form>

    <div class="row">
      <ul *ngIf="!authService.isAuthenticated; else profile" class="nav navbar-right gap-2">
        <li><a class="link-light link-underline-opacity-0" routerLink="signup">Sign up</a></li>
        <li><a class="link-light link-underline-opacity-0" routerLink="login">Log in</a></li>
      </ul>

      <ng-template #profile>
        <a src="/" class="d-block link-dark text-decoration-none" aria-expanded="false">
          <img src="assets/images/profile-logo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          <span class="mx-1 text-light">{{userName}}</span>
        </a>
      </ng-template>
    </div>
  </div>
</nav>
