.container {
  color: #c4c4c4;
}

.default-container {
  background-color: #616365;
}

.default-container:focus {
  background-color: #7e8183;
}

.id-image {
  display: inline-block;
}

.title-author {
  display: inline-block;
}

.song-main-section {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
}

.song-id {
  margin-right: 15px;
}

.selected-audio {
  color: #3ad93a;
}
