<div class="sidebar-container">
  <div class="sidebar-logo">
    <a routerLink="" class="navbar-brand">Streaming service</a>
  </div>
  <ul class="sidebar-navigation">
    <li class="header">
      <span>Playlists</span>
      <button (click)="createPlaylist()" class="add-playlist-btn float-end p-0">
        <span>
          <svg width="15" height="15" data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16" class="Svg-sc-ytk21e-0 kPpCsU"><path d="M15.25 8a.75.75 0 0 1-.75.75H8.75v5.75a.75.75 0 0 1-1.5 0V8.75H1.5a.75.75 0 0 1 0-1.5h5.75V1.5a.75.75 0 0 1 1.5 0v5.75h5.75a.75.75 0 0 1 .75.75z"></path></svg>
        </span>
      </button>
    </li>
    <li *ngFor="let playlist of playlists">
      <app-playlist-item [playlist]="playlist"></app-playlist-item>
    </li>
  </ul>
</div>
