<div class="container my-4">
  <div class="row">
    <div class="card flex-row bg-transparent" style="border: transparent">
      <img class="card-img-left w-25" style="max-width: 232px"
           [src]="playlist.image"
           alt="playlist_image"/>
      <div class="card-body">
        <h4 class="card-title h1 text-light">{{playlist.name}}</h4>
        <p class="card-text text-light my-0">Private Playlist</p>
        <p class="card-text text-light text-">{{playlist.songs.length}} songs</p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <app-song-list [songs]="songs"></app-song-list>
  </div>
</div>
